<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  
  <context-param>
  	<description>服务器的消息集合与用户列表是否实现线程同步</description>
  	<param-name>isSynch</param-name>
  	<param-value>1</param-value>
  </context-param>
    <context-param>
  	<description>服务器自动清空离线用户的时间间隔(毫秒为单位,0表示不清空)</description>
  	<param-name>clearUserInterval</param-name>
  	<param-value>60000</param-value>
  </context-param>
  
  <listener>
    <listener-class>servlet.Global</listener-class>
  </listener>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMessageServlet</servlet-name>
    <servlet-class>servlet.GetMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMessageLongServlet</servlet-name>
    <servlet-class>servlet.GetMessageLongServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/SendMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessageServlet</servlet-name>
    <url-pattern>/GetMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessageLongServlet</servlet-name>
    <url-pattern>/GetMessageLong.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>
